


.list-wrapper {
    background: #E0E0E0;
  	padding: 8px;
    height: 30%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.flex-list {

}

.lists {
	margin-right: 50px;
	margin-left: 50px;
}

.marginish {
	margin-top: 15px;
}

.sectionHeader {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	border-bottom: 2px black;
	text-align: center;
	padding-bottom: 20px;
	background: #91A1B2;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

.flexing{
	float: left;
}

.list-wrapper-plus {
    background: #E0E0E0;
  	padding: 8px;
    height: 30%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 470px) and (max-width: 980px) {
.list-wrapper-plus {
    height: 30%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.listFormat {
	display: inline;
	}

}


@media only screen and (max-width: 470px) {
.list-wrapper-plus {
    height: 30%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.listFormat {
	display: inline;
	}
}
