body {
  	font-family: sans-serif;
  	padding: 10px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,186,186,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(186,186,186,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,186,186,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,186,186,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,186,186,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,186,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bababa', GradientType=1 );
	height: 100%;
	width: 100%;

}

h2, h3 {
  margin: 0;
}

h2 {
}

ul {
padding: 0;
margin-top: 15px;
margin-bottom: 0;
list-style-type: none;
}


input {
  display: block;
}

